{% extends "base.html" %}
{% block content %}


<div class="bg-light p-5 border rounded">
    <h1> {{ album.name }} </h1>
    <img src="{{ album.cover_url }}" width="400" height="400">
    <h2> {{ album.year }} </h2>

    <h2>Описание</h2>
    <p class="lead">
        {{ album.description }}
    </p>

    <h3>{{ album.genre.name }}</h3>



    {% for song in album.songs %}
        <div class="h-100 p-5 bg-light border rounded-3">
            <h3>{{ song.name }}</h3>
            <audio controls>
                <source src="{{ song.url }}" type="audio/mpeg">
                <p>Ваш браузер не поддерживает HTML5 аудио.</p>
            </audio>
        </div>
    {% endfor %}

    <h2>Комментарии</h2>
    <div class="h-100 p-5 bg-light border rounded-3">
        <form class="comment_form" method="post" action="">
            {{ comment_form.hidden_tag() }}
            <p>
                {{ comment_form.content.label }}
                {{ comment_form.content }}
            </p>
            <p>{{ comment_form.submit }}</p>
        </form>
    </div>
    {% for comment in album.comments %}
        <div class="h-100 p-5 bg-light border rounded-3">
            <p>{{ comment.author.name }}</p>
            <p>{{ comment.content }}</p>
        </div>
    {% endfor %}


</div>

{% endblock %}

