{% extends "base.html" %}

{% block content %}
<h1>Создание альбома</h1>
    <form class="login_form" method="post" enctype="multipart/form-data" action="">
        {{ form.hidden_tag() }}
    <div class="form-group">
        <p>
            {{ form.name.label }}<br>
            {{ form.name }}
        </p>
        <p>{{ form.year.label }}<br>
           {{ form.year }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description }}
        </p>
        <p>
            {{ form.cover.label }}<br>
            <input type="file" class="form-control-file" id="photo" name="cover">
        </p>
        <p>
            {{ form.songs.label }}<br>
            {{ form.songs }}
        </p>
        <p>
            {{ form.genre.label }}<br>
            {{ form.genre }}
        </p>

        {{ form.submit }}
        <div>{{ message }}</div>
    </div>
    </form>
{% endblock %}